<h3>Fechas Proyecto: </h3>
<br>
<div class="row">
    <!--  -->
    <div class="col-sm-6">
        <b>Fecha Entrega:</b>
        <br>
        <!-- <input class="fechaEmision" id="date" type="date"> -->
        <input type="datetime-local" [(ngModel)]="fechas.fechaentrega">
    </div>
    <div class="col-sm-6">
        <b>Fecha Calificación:</b>
        <br>
        <!-- <input class="fechaEmision" id="date" type="date" [(ngModel)]="fechas.fechacalificacion"> -->
        <input type="datetime-local" [(ngModel)]="fechas.fechacalificacion">

    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-6">
        <b>Fecha Convalidación:</b>
        <br>
        <!-- <input class="fechaEmision" id="date" type="date" [(ngModel)]="fechas.fechaconvalidacion"> -->
        <input type="datetime-local" [(ngModel)]="fechas.fechaconvalidacion">
    </div>
    <div class="col-sm-6">
        <b>Fecha Puja:</b>
        <br>
        <!-- <input class="fechaEmision" id="date" type="date" [(ngModel)]="fechas.fechapuja"> -->
        <input type="datetime-local" [(ngModel)]="fechas.fechapuja">

    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <button class="btn btngrabar" (click)="guardarFechas()">Guardar Fechas</button>
    </div>
</div>