<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="sombrasgraficas">
            <div echarts [options]="notificacionesOption" theme='dark' class="demo-chart"></div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
<br>
<div class="row">
    <div class="col-sm-6">
        <div class="sombrasgraficas">
            <div echarts [options]="cortesOption" theme='dark' class="demo-chart"></div>
        </div>
    </div>
    
    <div class="col-sm-6">
        <div class="sombrasgraficas">
            <div echarts [options]="chartOption" class="demo-chart"></div>
        </div>
    </div>
</div>