<div class="cardsDashboard">
    <!-- <div class="ventas"></div>
    <div class="empleados">

    </div>
    <div class="ventas"></div>
    <div class="empleados">
    </div> -->
</div>

<!-- <app-comprasdash></app-comprasdash> -->
<br>
<app-firmasdash></app-firmasdash>
<!-- <div class="row">
    <div class="col-sm-12">
        <app-emapadash></app-emapadash>
    </div>
</div> -->
<!-- <div class="row">

    <div class="col-sm-6">
        <div class="sombrasgraficas">
            <div echarts [options]="cortesOption" theme='dark' class="demo-chart"></div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="sombrasgraficas">
            <div echarts [options]="chartOption" class="demo-chart"></div>
        </div>
    </div>

</div> -->
<br>
<!-- <div class="row">

    <div class="col-sm-6">
        <div class="sombrasgraficas">
            <div echarts [options]="option" theme='macarons' class="demo-chart"></div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="sombrasgraficas">
            <div echarts [options]="chartOption" theme='coolTheme' class="demo-chart"></div>
        </div>
    </div>

</div>
<br><br> -->