<!-- <div class="formEmpleado">
    <div class="infoempleado">
        <h3>Perfil de usuario</h3>
        <div class="linea1">
            <div class="empresa">
                <form class="form">

                    <label class="lbl-nombre">
                        <span class="text-nomb"><b>VT PROYECTOS</b></span>
                    </label>
                </form>
            </div>

            <div class="usuarioEmpleado">
                <form class="form">
                    <input type="text" required>
                    <label class="lbl-nombre">
                        <span class="text-nomb">Usuario</span>
                    </label>
                </form>
            </div>

            <div class="password">
                <form class="form">
                    <input [type]="showPassword ? 'text' : 'password'"  required>
                    <label class="lbl-nombre">
                        <span class="text-nomb">Contraseña</span>
                    </label>
                </form>
                <svg class="passwordView" (click)="contrasena()" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#00000">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/></svg>
            </div>

        </div>
        <div class="linea1">
            <div class="empresa">
                <form class="form">
                    <input type="text" required>
                    <label class="lbl-nombre">
                        <span class="text-nomb">Nombres *</span>
                    </label>
                </form>
            </div>

            <div class="usuarioEmpleado">
                <form class="form">
                    <input type="text" required>
                    <label class="lbl-nombre">
                        <span class="text-nomb">Apellidos *</span>
                    </label>
                </form>
            </div>

            <div class="password">
                <form class="form">
                    <input type="number" required>
                    <label class="lbl-nombre">
                        <span class="text-nomb">Cédula</span>
                    </label>
                </form>
            </div>

        </div>
        <div class="linea2">
            <div class="direccion">
                <form class="form">
                    <input type="text" required>
                    <label class="lbl-nombre">
                        <span class="text-nomb">Dirección</span>
                    </label>
                </form>
            </div>
            <div class="telefono">
                <form class="form">
                    <input type="number" required>
                    <label class="lbl-nombre">
                        <span class="text-nomb">Teléfono/Celular</span>
                    </label>
                </form>
            </div>
        </div>
        <div class="linea2">
            <div class="direccion">
                <form class="form">
                    <input type="text" required>
                    <label class="lbl-nombre">
                        <span class="text-nomb">Email</span>
                    </label>
                </form>
            </div>
            <div class="telefono">
                
            </div>
        </div>
        <div class="btnempleado">
            <button class="btn">Guardar</button>
        </div>

    </div>
    <div class="fotoInfoEmpleado">
        <h3>Foto Perfil</h3>
        <div class="linea3">
            <img src="../../../assets/img/foto_perfil_empleado.png" alt="Foto perfil">
        </div>
    </div>
</div> -->

<h3>Empleados</h3>
<!-- <router-outlet></router-outlet> -->
<!-- #docregion slow-animation-duration -->
<mat-tab-group animationDuration="1000ms" [selectedIndex]="active" (selectedIndexChange)="onTabChange($event)">
    <mat-tab label="Empleados">
        <app-dialogempleados #variableHijo1></app-dialogempleados>
    </mat-tab>

    <mat-tab label="Sueldos">
        <app-sueldos #variableHijo2></app-sueldos>
    </mat-tab>
    
    <mat-tab label="Rol de Pagos">
        <app-sueldospagados #rolpagos></app-sueldospagados>
    </mat-tab>

</mat-tab-group>