<h2 style="text-align: center;">Equipo Minimo</h2>
<div class="row">
    <div class="col-sm-6">
        <span><b>Detalle: </b></span>
        <input type="text" class="form-control" placeholder="Detalle" [(ngModel)]="equipominimo.detalle"
            (keyup.enter)="grabarEquipoMinimo()">
    </div>
    <div class="col-sm-6">
        <span><b>Cantidad: </b></span>
        <input type="number" style="text-align: right;" class="form-control" placeholder="Cantidad"
            [(ngModel)]="equipominimo.cantidad" (keyup.enter)="grabarEquipoMinimo()">
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-6">
        <span><b>Valor: </b></span>
        <input type="number" style="text-align: right;" class="form-control" placeholder="Valor"
            [(ngModel)]="equipominimo.valor" (keyup.enter)="grabarEquipoMinimo()">
    </div>
    <div class="col-sm-6" style="padding: 35px 10px;">
        <mat-checkbox class="example-margin" [(ngModel)]="checked"><b>Total Tiempo Proyecto</b></mat-checkbox>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <button class="btn" (click)="grabarEquipoMinimo()">Registrar</button>

    </div>
</div>