<table class="table">
    <tbody>

      <tr>
        <th>Valor Contrato Inicial</th>
        <td> {{ valorContrato }} </td>
        <td> {{ cincoPorciento }} </td>
        <td> {{ seisPorciento }} </td>
        <td> {{ sitePorciento }} </td>
        <td> {{ ochoPorciento }} </td>
        <td> {{ nuevePorciento }} </td>
        <td> {{ diezPorciento }} </td>
      </tr>

      <tr>
        <th>Valor Final Contrato</th>
        <td></td>
        <td> {{ cincoPorciento }} </td>
        <td> {{ seisPorciento }} </td>
        <td> {{ sitePorciento }} </td>
        <td> {{ ochoPorciento }} </td>
        <td> {{ nuevePorciento }} </td>
        <td> {{ diezPorciento }} </td>
      </tr>

      <tr>
        <th>Rendimiento Mensual</th>
        <td> asdas </td>
      </tr>

      <tr>
        <th>Margen error considerable</th>
        <td> asdas </td>
      </tr>

    </tbody>
  </table>