<div style="width: 98%; margin: 1% 1%;">
    <div class="headerProSer">
        <div class="buscarProser">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0z" fill="none" />
                <path
                    d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
            </svg>
            <input type="text" placeholder="Buscar..." (keyup)="applyFilter($event.target.value)">
        </div>
    </div>

    <div class="mat-elevation-z8" >

        <mat-table [dataSource]="dataSource" matSort>
      
          <ng-container matColumnDef="usuario" >
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Nombre"> <b>{{ row.usuario | titlecase}}</b> </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Fecha"> {{ row.create_at }} </mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="imagen">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Imagen </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Imagen"> 
                
                <a [href]="row.foto_fir" data-lightbox="photos">
                    <img class="img-fluid imgreportes" [src]="row.foto_fir"></a>

            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="editar">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Acciones">
                <button mat-icon-button (click)="deleteItem(row)">
                    <mat-icon color="warn">delete</mat-icon>
                </button>
            </mat-cell>
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
    </div>
</div>
