<div class="tituloFactura">
    <h2>Compras</h2>
    <div class="cabeceraCompra">
        <div class="row">
            <div class="col-sm-3">
                <span class="spanFactura"><b>Tipo Comprobante: </b></span>

                <select [(ngModel)]="compra.tipocomprobante_com" [disabled]="showComprobante"
                        (change)="comprobante()">
                        <option value="0">Tipo de Comprobante</option>
                        <option value="FACTURA">Factura</option>
                        <option value="NOTA DE VENTA">Nota de venta</option>
                        <option value="COMPROBANTE RETENCION">Retención</option>
                        <option value="NOTA CREDITO">Nota de crédito</option>
                    </select>
            </div>
            <div class="col-sm-3">
                <span class="spanFactura"><b>Nombre Proveedor: </b></span>
                <input matInput type="text" class="form-control" placeholder="Proveedor"
                            [(ngModel)]="compra.proveedor_com">
            </div>
            <div class="col-sm-3">
                <span class="spanFactura"><b>RUC Proveedor: </b></span>
                <input matInput type="text" class="form-control" placeholder="RUC Proveedor"
                            [(ngModel)]="compra.proveedorciruc_com">
            </div>
            <div class="col-sm-3">
                <span class="spanFactura"><b>Dirección Proveedor: </b></span>
                <input matInput type="text" class="form-control" placeholder="Dirección Proveedor"
                    [(ngModel)]="compra.direccionproveedor_com">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4" style="display: block; margin: auto;">
                <b>Emisión:</b>
                <input class="fechaEmision" id="date" type="date" style="width: 50%;" [(ngModel)]="compra.emsion_com">
            </div>

            <div class="col-sm-2" style="display: block; margin: auto;">
                <span class="spanFactura"><b>Número Serie: </b></span>
                <input matInput type="text" class="form-control" placeholder="Número Serie"
                    [(ngModel)]="compra.serie_com">
            </div>

            <div class="col-sm-2" style="display: block; margin: auto;">
                <span class="spanFactura"><b>Secuencia: </b></span>
                <input matInput type="text" class="form-control" placeholder="Secuencia"
                    [(ngModel)]="compra.secuencia_com">
            </div>
            <div class="col-sm-2" style="display: block; margin: auto;">
                <span class="spanFactura"><b>Aut. Sri: </b></span>
                <input matInput type="text" class="form-control" placeholder="Aut. SRI"
                    [(ngModel)]="compra.autorizacionSRI_com">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="pagocompras">
                            <label><b>Forma Pago: </b>
                            </label>
                            <select [(ngModel)]="compra.formapago_com">
                                <option value="0">Seleccione</option>
                                <option value="EFECTIVO">Efectivo</option>
                                <option value="TARJETA">Tarjeta</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="pagocompras">
                            <label><b>Tipo: </b>
                            </label>
                            <select [(ngModel)]="compra.costogasto_com">
                                <option value="0">Seleccione</option>
                                <option value="COSTO" style="text-align: right;">Costo</option>
                                <option value="GASTO" style="text-align: right;">Gasto</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">

            </div>
            <div class="col-sm-4" style="display: block; margin: auto;">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4" style="display: block; margin: auto;">

                    </div>
                    <div class="col-sm-4" style="display: block; margin: auto;">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<br>

<div class="tituloFactura">

    <div class="itemscompras">
        <div class="row">
            <div class="col-sm-6">
                <div class="botonesVentas">
                    <button class="btn" *ngIf="showbtnFactura" style="margin: 10px 10px;" (click)="items()">Añadir
                        Concepto<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                            fill="#FFFFFF">
                            <path d="M0 0h24v24H0V0z" fill="none" />
                            <path
                                d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.49 2 2 6.49 2 12s4.49 10 10 10 10-4.49 10-10S17.51 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" />
                        </svg></button>
                </div>
                <div class="botonesVentas">
                    <button class="btn" *ngIf="showbtnNota" style="margin: 10px 10px;" (click)="itemsNotaventa()">Añadir
                        Concepto<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                            fill="#FFFFFF">
                            <path d="M0 0h24v24H0V0z" fill="none" />
                            <path
                                d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.49 2 2 6.49 2 12s4.49 10 10 10 10-4.49 10-10S17.51 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" />
                        </svg></button>
                </div>
                <!-- <div class="botonesVentas">
                    <button class="btn" style="margin: 10px 10px;" (click)="generarRetencion()">Generar Retención<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                            fill="#FFFFFF">
                            <path d="M0 0h24v24H0V0z" fill="none" />
                            <path
                                d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.49 2 2 6.49 2 12s4.49 10 10 10 10-4.49 10-10S17.51 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" />
                        </svg></button>
                </div> -->
            </div>

            <div class="col-sm-6">
                <div class="botonesVentas">
                    <button *ngIf="showBorrarItems" class="btn btncancelar" style="margin: 10px 10px;"
                        (click)="borrarItems()">Borrar Items</button>
                </div>
            </div>
        </div>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef> Descripción </th>
                    <td mat-cell *matCellDef="let element"><b> {{element.descripcion}} </b></td>
                </ng-container>

                <ng-container matColumnDef="cantidad">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Cantidad </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.cantidad}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="precio">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Precio </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.precio}} $
                    </td>
                </ng-container>

                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Total </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{ element.total }} $
                    </td>
                </ng-container>

                <ng-container matColumnDef="eliminar">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;">Eliminar</th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;">
                        <button mat-icon-button (click)="deleteItem(element)">
                            <mat-icon color="warn">delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-8">
                        <br>
                        <div class="camposcompras">
                            <label>Subtotal 12%</label><input style="text-align: right;" type="number"
                                [(ngModel)]="subtotal12" disabled>
                        </div>
                        <div class="camposcompras">
                            <label>Subtotal 0%</label><input style="text-align: right;" type="number"
                                [(ngModel)]="subtotal0" disabled>
                        </div>
                        <div class="camposcompras">
                            <label>IVA 12%</label><input style="text-align: right;" type="number" [(ngModel)]="iva"
                                disabled>
                        </div>
                        <div class="camposcompras">
                            <label>ICE</label><input style="text-align: right;" type="number" [(ngModel)]="ice">
                        </div>
                        <div class="camposcompras">
                            <label>Propina</label><input style="text-align: right;" type="number" [(ngModel)]="propina">
                        </div>
                        <div class="camposcompras">
                            <label>Total</label><input style="text-align: right;" type="number"
                                [(ngModel)]="totalFactura" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btncancelar" (click)="cancelarItems()">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                        fill="#FFFFFF">
                        <path d="M0 0h24v24H0V0z" fill="none" opacity=".87" />
                        <path
                            d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm3.59-13L12 10.59 8.41 7 7 8.41 10.59 12 7 15.59 8.41 17 12 13.41 15.59 17 17 15.59 13.41 12 17 8.41z" />
                    </svg>
                    Cancelar </button>

                <button class="btn btngrabar" (click)="grabarCompra()"> <svg xmlns="http://www.w3.org/2000/svg"
                        height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path
                            d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm2 16H5V5h11.17L19 7.83V19zm-7-7c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3zM6 6h9v4H6z" />
                    </svg> Registrar Comprobante </button>
            </div>
        </div>
    </div>
</div>